* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

/* Left panel - ছোট */
.left-panel {
  flex: 2;   /* আগে ছিল 3 */
  background-image: url('img/home (3).jpg');
  background-size: cover;
  background-position: center;
}

/* Right panel -*/
.right-panel {
  flex: 3;   
  background: linear-gradient(135deg, #f6f8fc, #e2ecf9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

/* Select box design */
.register-form select {
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  background: white;
}

.register-form select:hover {
  border-color: #fc6f23;
  cursor: pointer;
}



.content {
  width: 100%;
  max-width: 400px;
}

.brand {
  font-size: 32px;
  font-weight: bold;
  color: #e23a02fe;
  margin-bottom: 20px;
}

.register-title {
  font-size: 22px;
  margin-bottom: 30px;
  color: #1a1a1a;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-form input {
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.register-form button {
  padding: 14px;
  background-color: #fc6f23;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-form button:hover {
  background-color: #e23a02fe;
}

.login-text {
  font-size: 14px;
  margin-top: 10px;
  color: #333;
}

.login-text a {
  color: #e23a02fe;
  text-decoration: none;
  font-weight: bold;
}
